
# Evaluate the Ad Budget Dataset of XYZ Firm

* * *

***Linear Regression

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import numpy as np
import pandas as pd

In [2]:
#Import the advertising dataset
ad_dataset= pd.read_csv('E:\\Melita\\Python\\Assignment_01\\Advertising Budget and Sales.csv', index_col=0)

#### 2: Analyze the dataset

In [3]:
#View the initial few records of the dataset
ad_dataset.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [4]:
#Check the total number of elements in the dataset
ad_dataset.size

800

#### 3: Find the features or media channels used by the firm

In [5]:
#Check the number of observations (rows) and attributes (columns) in the dataset
ad_dataset.shape

(200, 4)

In [6]:
#View the names of each of the attributes
ad_dataset.columns

Index([u'TV Ad Budget ($)', u'Radio Ad Budget ($)', u'Newspaper Ad Budget ($)',
       u'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [7]:
#Create a feature object from the columns
x_features= ad_dataset[[u'TV Ad Budget ($)', u'Radio Ad Budget ($)', u'Newspaper Ad Budget ($)']]

In [8]:
#View the feature object
x_features.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [9]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_target= ad_dataset[[ u'Sales ($)']]

In [10]:
#View the target object
y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [11]:
#Verify if all the observations have been captured in the feature object
x_features.shape

(200, 3)

In [12]:
#Verify if all the observations have been captured in the target object
y_target.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [13]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x_features,y_target, random_state=1)

F:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [14]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print x_train.shape,x_test.shape,y_train.shape,y_test.shape

(150, 3) (50, 3) (150, 1) (50, 1)

#### 6: Create a model  to predict the sales outcome

In [15]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg= LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
#Print the intercept and coefficients 
print 'the intercept is %.2f' %linreg.intercept_
print 'the coefficients are ', linreg.coef_

the intercept is 2.88
the coefficients are  [[ 0.04656457  0.17915812  0.00345046]]

In [17]:
#Predict the outcome for the testing dataset
y_pred= linreg.predict(x_test)
y_pred

array([[ 21.70910292],
       [ 16.41055243],
       [  7.60955058],
       [ 17.80769552],
       [ 18.6146359 ],
       [ 23.83573998],
       [ 16.32488681],
       [ 13.43225536],
       [  9.17173403],
       [ 17.333853  ],
       [ 14.44479482],
       [  9.83511973],
       [ 17.18797614],
       [ 16.73086831],
       [ 15.05529391],
       [ 15.61434433],
       [ 12.42541574],
       [ 17.17716376],
       [ 11.08827566],
       [ 18.00537501],
       [  9.28438889],
       [ 12.98458458],
       [  8.79950614],
       [ 10.42382499],
       [ 11.3846456 ],
       [ 14.98082512],
       [  9.78853268],
       [ 19.39643187],
       [ 18.18099936],
       [ 17.12807566],
       [ 21.54670213],
       [ 14.69809481],
       [ 16.24641438],
       [ 12.32114579],
       [ 19.92422501],
       [ 15.32498602],
       [ 13.88726522],
       [ 10.03162255],
       [ 20.93105915],
       [  7.44936831],
       [  3.64695761],
       [  7.22020178],
       [  5.9962782 ],
       [ 18.43381853],
       [  8.39408045],
       [ 14.08371047],
       [ 15.02195699],
       [ 20.35836418],
       [ 20.57036347],
       [ 19.60636679]])

#### 7: Calculate the Mean Square Error (MSE)

In [18]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics

In [19]:
#Calculate the MSE
print np.sqrt(metrics.mean_squared_error(y_test,y_pred))

1.40465142303

In [20]:
print 'the variance is %.2f' %linreg.score(x_test,y_test)

the variance is 0.92